.App {
  text-align: center;
}

table {
  margin: 20px auto;
  width: 80%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #04AA6D;
  color: white;
}
